// Color Swatches
.color-swatch {
    height: 100px;
    @include shadow-3();
    margin-bottom: 15px;
    padding: 15px;
    border: 5px solid #FFF;
    color: #FFF;
    background-color: #eee;
    &.swatch1 {
        background-color: $vermillion;
    }
    &.swatch2 {
        background-color: $coral;
    }
    &.swatch3 {
        background-color: $mona_lisa;
    }
    &.swatch4 {
        background-color: $midnight_blue;
    }
    &.swatch5 {
        background-color: $azure;
    }
    &.swatch6 {
        background-color: $endeavour;
    }
    &.swatch7 {
        background-color: $blue_charcoal;
    }
    &.swatch8 {
        background-color: $ship_gray;
    }
}
.details {
    color: $text-muted;
}
